html,
body {
    height: 100%;
}

body {
    background-color: hsl(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    background-image: url('../images/ship.png');
    width: 128px;
    height: 64px;
    position: absolute;
}

#sailbutton {
    width: 100%;
    height: 32px;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
    font-weight: 700;
}

#sailbutton:hover {
    cursor: pointer;
}